/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: blue;
    color: #fff;
}

.header__title {
    margin: 0;
    font-size: 24px;
}

.header__cart-button {
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #fff;
    color: black;
    border: none;
    cursor: pointer;
}
.header__cart-button:hover {
background-color: rgb(61, 61, 250);
color:white;
}

/* Media queries for responsive design */

/* Small devices (phones) */
@media (max-width: 575px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__cart-button {
        margin-top: 10px;
    }
}

/* Medium devices (tablets) */
@media (min-width: 576px) and (max-width: 991px) {
    .header__title {
        font-size: 26px;
    }

    .header__cart-button {
        margin-left: 10px;
    }
}

/* Large devices (laptops, desktops) */
@media (min-width: 992px) {
    .header__title {
        font-size: 28px;
    }

    .header__cart-button {
        margin-left: 10px;
    }
}