/* UserForm.css */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    width: 55vw;
    top :60%;
    transform: translateX(60%);
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Media queries for responsive design */

/* Small devices (phones) */
@media (max-width: 575px) {
    .form input {
        width: 100%;
    }

    .form button {
        width: 100%;
    }
}

/* Medium devices (tablets) */
@media (min-width: 576px) and (max-width: 991px) {
    .form {
        max-width: 400px;
    }

    .form input {
        width: 100%;
    }

    .form button {
        width: 100%;
    }
}

/* Large devices (laptops, desktops) */
@media (min-width: 992px) {
    .form {
        max-width: 600px;
    }

    .form input {
        width: 100%;
    }

    .form button {
        width: auto;
    }
}